{% extends "base.html" %}

{% block content %}
<h3>Reunião</h3>

<form method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Comissão</label>
            {{ form.comissao }}
        </div>

        <div class="col-md-2 mb-3">
            <label class="form-label">Ordem</label>
            {{ form.numero }}
        </div>

        <div class="col-md-4 mb-3">
            <label class="form-label">Tipo</label>
            {{ form.tipo }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mb-3">
            <label class="form-label">Data</label>
            {{ form.data }}
        </div>

        <div class="col-md-3 mb-3">
            <label class="form-label">Hora</label>
            {{ form.hora }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Pauta</label>
        {{ form.pauta }}
    </div>

    <div class="mb-3">
        <label class="form-label">Ata</label>
        {{ form.ata }}
    </div>

    <hr>
    <h5>Edital</h5>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label class="form-label">Data do Edital</label>
            {{ form.data_edital_do }}
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Edital Assinado</label>
            {{ form.tem_edital_assinado }}
        </div>
    </div>

    <hr>
    <h5>Presença e Ata</h5>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label class="form-label">Presença Assinada</label>
            {{ form.tem_presenca_assinada }}
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Ata Assinada</label>
            {{ form.tem_ata_assinada }}
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Data da Ata</label>
            {{ form.data_ata_do }}
        </div>
    </div>

    <hr>
    <h5>Parecer</h5>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label class="form-label">Parecer Assinado</label>
            {{ form.tem_parecer_assinado }}
        </div>
    </div>

    <hr>
    <h5>Deliberação</h5>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label class="form-label">Tem Deliberação</label>
            {{ form.tem_deliberacao }}
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Deliberação Assinada</label>
            {{ form.tem_deliberacao_assinada }}
        </div>
    </div>

    <hr>
    <h5>Conclusão</h5>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label class="form-label">Tem Conclusão</label>
            {{ form.tem_conclusao }}
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Conclusão Assinada</label>
            {{ form.tem_conclusao_assinada }}
        </div>
    </div>

    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}

    <button class="btn btn-primary">Salvar</button>
    <a href="{% url 'reuniao_list' %}" class="btn btn-secondary">
        Voltar
    </a>
</form>
{% endblock %}
